<!-- <link  rel="stylesheet" href="/css/bootstrap.min.css"  />
 --><link rel="stylesheet" href="/css/messages.css">
<div class="container-fluid messages-palate no-gutters" >
    <!-- <hr style="height: 0.5px;background-color: black;"> -->
   
    <div class="my-chat  ml-1 mt-0  my-message" >
    <div class="no-active-conversations"></div>
      
     <div class="message-details"  >
       <!-- <a href="#!/chat/{{message.username}}" > 
           <li class="message-list">          
            <im g class="inbox-img " src="/images/profile.jpg"> 
               <p class="chat-from">
                </p>
              <span class="chat-message">{{message.message}}</span>
           
             
                  </li>
                </a> -->
        </div>
    </div>
   
    <!-- <hr style="height: 0.5px;background-color: black;"> -->
 
</div>

