<link href="/css/feeds.css" rel="stylesheet">


<div class="container-fluid newsfeedmain" ng-app="home">
        
         </div>
	<div class="row">
	 <div class="col-12">
	 <div class="post-something">
			<!-- <a href="#!/profile/{{username}}"><img class="userpost-img " src="/images/profile.jpg"/></a> -->
			<input ng-click="createPost()" value="share your story" type="button"
				class="post-link " style="width:150px;"  readonly="readonly">
		</div>
	 </div>
		<!-- <div class="col-4 text-center mr-10">
		<a class="text-right youmay-know" href="#!/youmayknow"><i class="fas fa-user-friends py-20"></i>
		 <span class="badge  pushnotification">+10</span>
		</a>
		</div> -->
		
	</div>
	<hr style="height: 2px;width: 100%;color:grey">

	<div class="col-md-8 post-body mx-10">
		
			
			<!-- from here comments lyashi lya imbi day -->
			<!-- <div class="box-footer box-comments" style="display: block;">
				<div class="box-comment">
					<img class="usercomment-img " src="/images/comme.jpg">
					<div class="comment-text">
						<span class="username"> Maria Gonzales <span
							class="text-muted pull-right">8:03 PM Today</span>
						</span> It is a long established fact that a reader will be distracted by
						the readable content of a page when looking at its layout.
					</div>
				</div>

				<div class="box-comment">
					<img class="usercomment-img " src="/images/comme.jpg">
					<div class="comment-text">
						<span class="username"> Luna Stark <span
							class="text-muted pull-right">8:03 PM Today</span>
						</span> It is a long established fact that a reader will be distracted by
						the readable content of a page when looking at its layout.
					</div>
				</div>
			</div> 
			<div class="box-footer" style="display: block;">
				<form action="#" method="post">
					<h4>img</h4>
					<div class="img-push">
						<input type="text" class="form-control input-sm"
							placeholder="Press enter to post comment">
					</div>
				</form>
			</div>-->
		</div>
	
