<link href="/css/profile.css" rel="stylesheet">
<body style="background-color: black">
<div class="container " >
     <i ng-click="profileBack()" class="fas fa-arrow-left" ></i>
 
     <div class="profile-details">
     </div>
 
    <div class="row ">
    <div class="input-fields">
    
    </div>
   
    </div>
    <!-- area for user profile detailes -->
    </div>
     <span class="ml-5">Blogs</span>
    
   <!--  users profile posts -->
   <div class="col-md-8 post-body mx-10">
  
			</div>
					

</body>