<link rel="stylesheet" href="/css/upload.css">
 <style>
 .text-right{
 margin-left: 250px;
 }
 </style>
 
<div class="container">
 
<div class="row ">
  <i ng-click="myprofileBack()" class="fas fa-arrow-left ml-5 mt-3 mx-10" ></i>
  <input type="button" value="upload"  ng-click="uploadProfile()" class="btn btn-secondary btn-sm  mt-3 text-right"/>

  </div>
   <textarea type="text" rows="3" class="form-control mt-2" cols="" id="payload" placeholder="write something"></textarea>
    <div class="picture-container">
   
    
        <div class="picture">
            <img  class="picture-src" id="wizardPicturePreview" title="">
            <input type="file" id="wizard-picture" ng-model="profilepic" class="" accept="image/png,image/jpg">
        </div>
         <div id="img-data"></div>

    </div>
</div>