@charset "ISO-8859-1";

@media only screen and (max-width: 750px) {
textarea{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
}
.post-text{
	margin-left: auto;
	margin-right:auto;
	background: #c0c0c0;
}
.createpost{
	margin-top: 10px;
	margin: 5px;
}
.back-button{
	margin-left:10px;
}
.post-button{
	margin-left: 90px;
}
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}


.picture-src{
    width: 100%;
    
}
}